/* Reset default margins and paddings */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.back-link {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: orange;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-link:hover {
    background-color: #ee8139;
    transform: scale(1.05);
}

.back-link span {
    display: inline-block;
    vertical-align: middle;
}




/* Container for the book list */
.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.book-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.book-card h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.book-card p {
    color: #666666;
    margin-bottom: 10px;
}

.book-card a {
    display: inline-block;
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.book-card a:hover {
    background-color: darkorange;
}


.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: #666666;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #f2f2f2;
}

.pagination .active {
    background-color: orange;
    color: white;
}
